
<div>
    <div class="institutionHeader">
        <p>{{resCalCtrl.institution.name}}</p>
    </div>

    <div class="section col-md-4">
        <div class="section-header">
            <p>{{ resCalCtrl.getResidentText() }} - Shift Entry</p>
        </div>
        <div class="section-body">
            <data-shift-entry data-resident="resCalCtrl.resident"
                              data-shift="resCalCtrl.selectedShift"
                              data-shifts="resCalCtrl.shifts"></data-shift-entry>
        </div>
    </div>

    <div class="section col-md-7">
        <div class="section-header">
            <p>{{ resCalCtrl.getResidentText() }} - Shift History</p>
            <button class="btn btn-default">Analyze Compliance</button>
        </div>
        <div class="section-body">

        </div>
    </div>
</div>
