
<div class="jumbotron">
    <h1>Duty Hour Analysis Page</h1>
    <p class="lead">This page is where the UI for administrators to run analysis of Resident's duty hours to ensure compliance.</p>
</div>

